html, body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

#skillIcons .col-md-3, #skillIcons .col-xs-4 {
    text-align: center;
    padding-top: 15px;
}

#skillIcons .col-lg-2 {
    text-align: center;
    padding: 15px 0px;
}

#skillIcons  p {
    margin-top: 11px;
    margin-bottom: 0;
}

.card-footer {
    background: linear-gradient(
        to top,
        #9AEAA8,
        rgba(154, 234, 168, .9)
    );
    box-shadow: inset 0 0 20px #41C463, 0 5px 8px -6px #17141F, 0 -4px 5px -6px #17141F;
    margin-top: -10em;
}

.card-footer h4 {
    color: #206E38;
    font-variant: small-caps;
}

.card-footer .btn {
    color: #32a14e;
}

.card-footer .btn :hover {
    color: #206E38;
}

.card-footer  p {
    color: #206E38;
    height: 5em;
    text-align: center;
}

#main-bio .card-img {
    box-shadow: 0 5px 8px -6px #17141F, 0 -4px 8px -6px #17141F;
}

#portfolio .card-img {
    box-shadow: 0 -4px 8px -6px #17141F;
}

#footer {
    bottom: 0;
    width: 100%;
    margin-top: auto;
}